@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(https://gt20.org/wp-content/uploads/2016/09/volunteer.png);
  background-size: cover;
width: 100%;
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}
h2 {
  font-size: 2rem;
}
p {
  margin: 0;
  font-size: 1.3rem;
}

main {
  max-width: 500px;
  margin: 20px auto;
}
h1 {
  color: white;
  text-shadow: 2px 1px 10px #000000;
}
p {
  color: white;
  text-shadow: 1px 1px 10px #000000;
}
.circular--square {
  border-radius: 50%;
  width:"300px";
  height:300px;
}
.image-cropper {
    width: 200px;
    height: 200px;
    position: center;
    overflow: hidden;
    border-radius: 50%;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
h3
{
  margin: 20px;
    padding: 40px;
      transform: translate(3%, -40%);
}
h3.h3
{
  /* margin: 20px; */
    padding: 40px;
      transform: translate(23%, -160%);
      /* font-size: 175%; */
}
h3.h4
{
  /* margin: 20px; */
    padding: 40px;
      transform: translate(50%, -279%);
      /* font-size: 175%; */
}
h3.h5
{
  /* margin: 20px; */
    padding: 40px;
      transform: translate(78%, -496%);
      /* font-size: 175%; */
}
h5.h6
{
  margin: 20px;
    padding: 40px;
      transform: translate(45%, -300%);
}
